## Converting ARFF to CSV

In [1]:
import pandas as pd

In [2]:
data_started = False
data_lines = []

with open("./data/chronic_kidney_disease_full.arff", "r") as file:
    for line in file:
        if line.strip().lower() == "@data":
            data_started = True
            continue
        if data_started:
            data_lines.append(line.strip())

# Creating dataframe
df = pd.DataFrame([row.split(",") for row in data_lines])

df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,48,80,1.020,1,0,?,normal,notpresent,notpresent,121,...,7800,5.2,yes,yes,no,good,no,no,ckd,None
1,7,50,1.020,4,0,?,normal,notpresent,notpresent,?,...,6000,?,no,no,no,good,no,no,ckd,None
2,62,80,1.010,2,3,normal,normal,notpresent,notpresent,423,...,7500,?,no,yes,no,poor,no,yes,ckd,None
3,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,6700,3.9,yes,no,no,poor,yes,yes,ckd,None
4,51,80,1.010,2,0,normal,normal,notpresent,notpresent,106,...,7300,4.6,no,no,no,good,no,no,ckd,None

In [3]:
# Droping one last extra column

df = df.iloc[:, :25]

In [4]:
df.shape

(402, 25)

In [5]:
# Assigning Columns name manually

columns = [
'age','bp','sg','al','su','rbc','pc','pcc','ba',
'bgr','bu','sc','sod','pot','hemo','pcv',
'wc','rc','htn','dm','cad','appet','pe','ane','class'
]

df.columns = columns

In [6]:
# formating data

df = df.map(lambda x: x.strip() if isinstance(x, str) else x)

In [7]:
# Replacing ? to NA to identify missing values

df.replace('?', pd.NA, inplace=True)

In [8]:
df['class'].value_counts()

class
ckd       250
notckd    149
no          1
Name: count, dtype: int64

In [9]:
# dropping one inconsistent label ('no')

df = df[df['class'] != 'no']

In [10]:
# Saving CSV File

df.to_csv('./data/ckd_raw.csv', index=False)