### Task 5: Creating a New Column

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/student.csv")

In [3]:
df["Result"] = df["Marks"].apply(lambda x: "Pass" if x >= 40 else "Fail")

In [4]:
display(df)

   StudentID    Name  Age Gender  Marks  Attendance Result
0          1    Amit   21      M     78          85   Pass
1          2    Neha   22      F     34          60   Fail
2          3    Ravi   20      M     56          75   Pass
3          4   Pooja   23      F     89          90   Pass
4          5   Karan   21      M     42          65   Pass
5          6  Anjali   22      F     91          95   Pass