### Task 1: Creating Series and DataFrame

In [1]:
import pandas as pd

In [2]:
marks_series = pd.Series([78, 34, 56, 89, 42])
print("Series:\n", marks_series)

Series:
 0    78
1    34
2    56
3    89
4    42
dtype: int64

In [5]:
df = pd.read_csv("./data/student.csv")
display(df)

   StudentID    Name  Age Gender  Marks  Attendance
0          1    Amit   21      M     78          85
1          2    Neha   22      F     34          60
2          3    Ravi   20      M     56          75
3          4   Pooja   23      F     89          90
4          5   Karan   21      M     42          65
5          6  Anjali   22      F     91          95